#qltk{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2{
    font-family:'Courier New', Courier, monospace;
    color: #dd7703;
    font-weight:bolder;
    font-size: xx-large;
}

#cactk{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#cactk a{
    margin: 10px;
}

.hovertk{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tieudetk, .tk{
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    margin-bottom: 10px;
    width: 80%;
    border-radius: 10px;
    text-align: center;
}

.tieudetk a{
    color: #dd7703;
    font-weight: bolder;
    font-size: larger;
}

.tk a{
    font-size: large;
}

.tk{
    background-color: rgba(0, 3, 202, 0.356);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    transition: transform 0.2s, margin-bottom 0.2s;
}

.vang{
    color: yellow;
}

.xanh{
    color: green;
}

.do{
    color: red;
}

#cactk button{
    background-color: #dd7703;
    color: white;
    border-radius: 5px;
    width: 100px;
    margin: 10px;
    margin-top: 0px;
    align-self: center;
    width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.nut{
    margin-top: -20px;
}

.nut input{
    background-color: rgba(0, 3, 202, 0.356);
    border-radius: 5px;
    border: #dd7703 1px solid;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    height: 20px;
}

#newdiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    background-color: white;
    border-radius: 10px;
    height: 125px;
    width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    transition: transform 0.1s;
    transform: scale(0);
}

#newdiv a{
    font-weight: bold
}