body {
    display: grid;
    justify-items: center;
    padding: 0;
    margin: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #ffffff;
} 

#backnav{
    width: 100%;
    height: 300px;
    background-image: url("hinhanh/background.jpg");
    filter: brightness(45%);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    position: relative;
    z-index: -1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#backnav p{
    border-bottom: #ffffff 2px solid;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 180px;
    color: #ffffff;
    font-size: xx-large;
    font-weight: bolder;
}

#backnav a{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ffffff;
    font-size: large;
}

#navbar{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50px;
    align-items: center;
    margin-top: 50px;
    height: 50px;
    background-color: rgb(165, 165, 165);
    width: 80%;
    border-radius: 10px;
    grid-template-areas:
    "menu img user";
    position: absolute;
}

.navbaricon{
    transition: transform 0.3s ease;
}

.navbaricon:hover{
    transform: scale(1.2);
}

#menu{
    width: 180px;
    grid-area: menu;
    font-weight: bold;
    display: flex;
    align-items: center;
}

#menu a{
    margin-left: 15px;
    color: black;
    text-decoration: none;
    font-size:medium;
    font-weight:bolder;
    transition: transform 0.2s, margin-left 0.2s;
}

#menu a:hover{
    transform: scale(1.1);
}

#navbarmenu{
    display: flex;
    align-items: center;
    transition: transform 0.3s ease;
    margin-left: 5px;
}

#user{
    grid-area: user;
    justify-self: end;
    margin-right: 10px;
}

#user img{
    margin-left: 20px;
}

#logo{
    grid-area: img;
    justify-self: center;
    transform:scale(0.2);
    animation-name: logo;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-delay: 0s;
    animation-fill-mode: forwards;
    transition: width 0.2s, height 0.1s;
}
@keyframes logo{
    0%{
        transform:scale(0.2);
    }
    1%{
        transform:scale(0.3);
    }
    45%{
        transform:scale(1.3);
    }
    75%{
        transform:scale(0.9);
    }
    100%{
        transform:scale(1);
    }
}
#logo:hover{
    transition-timing-function: linear;
    width: 110px;
    height: 110px;
}

footer{
    height: 700px;
    display: grid;
    justify-items: center;
    width: 100%;
    margin-top: 50px;
    background-color: rgb(31, 31, 31);
    color: #ffffff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#footlogo{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr repeat(2, 50px);
    justify-items: center;
    height: 200px;
    margin-top: 50px;
}

#footlogo p{
    font-size: x-large;
    font-weight: bold;
    color: #dd7703;
}

#footlogo img{
    transform: scale(1.6);
}

#footlh{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "l r";
}

#footlh img{
    width: 30px;
    height: 30px;
    margin-bottom: 10px;
}

#footlhl{
    display: flex;
    flex-direction: column;
    align-items: start;
    grid-area: l;
    margin-left: 40px;
}

#footlhl div{
    display: flex;
    align-items: center;
}

#footlhl img{
    margin-right: 5px;
}

#foottt{
    grid-area: r;
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-right: 40px;
}

footer h2{
    color: #dd7703;
}

#banquyen{
    border-top: #ffffff solid 0.5px;
    padding-top: 5px;
}

#vedautrang{
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #dd7703;
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
    text-decoration: none;
    border: #ffffff 1px solid;
    display: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: transform 0.3s ease;
}

#vedautrang:hover{
    transform: scale(1.1);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.navbutton{
    background-color: #dd7703;
    color: white;
    border-radius: 5px;
    height: 22px;
    transition: transform 0.2s, box-shadow 0.2s;
    margin-bottom: 5px;
}

.navbutton:hover{
    transform: scale(1.05);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

#iptim{
    position: absolute;
    border-radius: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border: #dd7703 1px solid;
    justify-self: center;
    height: 20px;
    margin-left: -100px;
    transition: transform 0.2s;
    transform: scale(0);
}