h2{
    font-family:'Courier New', Courier, monospace;
    color: #dd7703;
    font-weight:bolder;
    text-align: center;
}

#daban{
    font-style: italic;
    font-size: small;
    justify-self: end;
    margin-right: 10px;
    margin-bottom: 5px;
}

#hinhrong{
    opacity: 0.2;
}

#newdiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    background-color: white;
    border-radius: 10px;
    height: auto;
    width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    transition: transform 0.1s;
    transform: scale(0);
}

#newdiv a{
    font-weight: bold
}

#goiyhoa{
    width: 900px;
}