@media (max-width: 1024px) {
    #sanpham {
        grid-template-columns: repeat(2, 1fr );
    }
}
@media (max-width: 600px) {
    #sanpham {
        grid-template-columns: 1fr;
    }
}

#gioithieu{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#gioithieu a, #gioithieu img{
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 15px;
}

#gioithieu h2{
    color: #dd7703;
}

#sanpham{
    display: grid;
    margin-top: 10px;
    grid-template-columns: repeat(4, 1fr );
    grid-auto-rows: auto;
    gap:25px;
}

.hoa{
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    border-radius: 10px;
    width: 200px;
    height: 240px;
    grid-template-areas: 
    "hinh"
    "ten"
    "nut";
    background-color: rgba(0, 3, 202, 0.356);
    transition: transform 0.15s ease;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.hoa:hover{
    transform: scale(1.1);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.hoa #tenhoa{
    text-align: center;
}

.hoa a{
    font-size: large;
}

.hoa img{
    margin: 10px;
    grid-area: hinh;
    transition: transform 0.3s ease;
    border-radius: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    align-self: center;
    margin-bottom: 25px;
}

#newdiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    background-color: white;
    border-radius: 10px;
    height: auto;
    width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    transition: transform 0.1s;
    transform: scale(0);
}

#newdiv a{
    font-weight: bold
}

#daban{
    font-style: italic;
    font-size: small;
    justify-self: end;
    margin-right: 10px;
    margin-bottom: 10px;
}

#icontimanh{
    position: fixed;
    z-index: 1;
    right: 20px;
    bottom: 60px;
    transition: transform 0.2s;
}

#icontimanh:hover{
    transform: scale(1.1);
}

#timkiemanh{
    height: 350px;
    width: 500px;
    position: fixed;
    left: 50%;
    top: 50%;
    background-color: white;
    margin-left: -250px;
    margin-top: -200px;
    z-index: 1;
    border-radius: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    transition: transform 0.2s;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: scale(0);
}

#timkiemanh h2{
    font-family:'Courier New', Courier, monospace;
    color: #dd7703;
    font-weight:bolder;
    text-align: center;
}

#timkiemanh h3{
    color: #dd7703;
}

#timkiemanh button{
    color: white;
    background-color: #dd7703;
    border-radius: 5px;
    margin: 10px;
    transition: transform 0.2s, box-shadow 0.2s;
    margin-top: 30px;
    width: 50px;
    height: 25px;
}

#timkiemanh button:hover{
    transform: scale(1.1);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

#timkiemanh form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#anhtailen{
    width: 100%;
    height: 100px;
    background-color: rgba(0, 3, 202, 0.356);
    border-radius: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
    justify-items: center;
    padding: 10px;
}